
<div>
    <div>
        <% if(!currentUser) { %>
            <a class="nav-but btn btn-primary" href="/users/signin">Sign in</a>
            <a class="nav-but btn btn-primary" href="/users/signup">Sign up</a>
        <% } else {%>
            <a class="btn btn-primary" href="/users/signout">Sign out</a>
        <% } %>
        <a href="/wikis" class="btn btn-primary">Wikis</a>
        <% if(currentUser) { %>
            <% if (currentUser.role !== "premium") { %>
                <a href="/users/premium" class="btn btn-primary">Premium</a>
            <% } else { %>
                <a href="/users/member" class="btn btn-primary">Downgrade</a>
        <% } %>
    <% } %>
    </div>
</div>