<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <h1>Wikis</h1>
            <% if(wikis) { %>
                <ul>
                    <% wikis.forEach((wiki) => { %>
                        <li>
                            <a href="/wikis/<%= wiki.id %>">
                            <h2><%= wiki.title</h2><br>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
        </main>
    </body>
    
    <% include ../static/partials/baseScripts.ejs %>
</html>