<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <% if(wiki) { %>
                <h1><%= wiki.title %></h1>

                <div>
                    <%= wiki.body %>
                </div>

            <% } %>

            <% if(currentUser){ %>
                <a href="/wikis/new" class="btn btn-warning">New Wiki</a>
                <% if(currentUser.role === "admin" || (currentUser.id === wiki.id)){ %>
                <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
                <form action="/wikis/<%= wiki.id %>/destroy" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <% } %>
            <% } %>
        </main>
    </body>
    
    <% include ../static/partials/baseScripts.ejs %>
</html>