<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    
<% include ./partials/navbar.ejs %>

      <main class="container">
          <br></br>
        <header class="jumbotron">
            <h1>Welcome to Blocipedia</h1>
            <p>share your wikis with other users!</p>
        </header>

        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">Create Your Own Wikis</div>
                <div class="panel-body">Colaborate with other users to help spread information that you're passionate about!</div>
                <div class="panel-body">Become a premium member to create private wikis that only you and your collaborators can view!</div>

            </div>
        </div>
      </main>

     <% include ./partials/baseScripts.ejs %>
    </body>
</html>